*{
    margin : 0px;
    padding : 0px;
    font-family: sans-serif;
}

.col-sm-3
{
    width: 19%;  
    margin-right:1px; 
    height: inherit;
    line-height:0em;
   
}
.img-style
{
    width: 200px;
}
.img-style2
{
width: 100px;
height:130px;
}
.li-id
{
    padding: 20px;
    color: blue;
}
.h2-id
{
    font-weight: bold;  
}
.col-sm-9
{
    padding-top:15px;
    width: 78%;
    box-shadow: 0 0 0 1px rgba(67,41,163,.2), 0 0px 5px 0 rgba(67,41,163,.2);
}
.col-sm-91
{
    padding-top:15px;
    width: 65%;
    box-shadow: 0 0 0 1px rgba(67,41,163,.2), 0 0px 5px 0 rgba(67,41,163,.2);  
}
.li-id1
{
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #d4d4db;
    box-sizing: inherit;
    margin-bottom: 5px;
}
.li-id2
{
   color: black;
    list-style: none;
    border-bottom: 1px solid black;
}
.name
{
    font-weight: bold;
}
.facebook_button_profile {
    display: inline-block;
    background: url(facebookimg.png) left no-repeat;
    border:none;
    height: 30px;
    padding-left: 29px;
    font-weight: lighter;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;
    cursor: pointer;
  }
  .google_button_profile{
   
    height: 30px;
    padding-right: 7px;
    padding-left: 29px;
    font-weight: lighter;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    background: url(googlelogo.png) left no-repeat;
    line-height: 22px;
    cursor: pointer;
}

.profilename
{
    display: inline-block;
    padding-left: 30px;
    padding-right:30px;
    color: white;
    background: blue;
}
.profileCancel
{
    display: inline-block;
    padding-left: 30px;
    padding-right:30px;
    color: blue;
   
}

.tablesize
{
    width: 78%;
    
}

.halfsize
{
  width:65%;  
  left:0px;
}
.rightsidebutton
{
    position: absolute;
    right:80px;
    color:blue;
}
.rightsidebutton2
{

    position: relative;
    left: 100px;
   
}
.rightsidebutton3
{ padding-top:30px;
    position: absolute;
    right:50px; 
}
.rightsidebutton311
{ 
    position: absolute;
  
   text-align: center;
   left:160px;
}
.rightsidebutton143
{ padding-top:30px;
    position: absolute;
   padding-left:80px;
    left:200px; 
}
.leftside
{
    left:0;
    padding-left: 0px;
    float: left;
}
.rightsidebutton343
{  padding-top:-20px;
    left:250px; 
    padding-left:30px ;
}
.leftsidebutton143
{
   right:1000px; 
   left:0;
   padding-top:50px;
}
.setModal
{
    opacity:1;
    position: fixed;
    /*  */
    
}
.setModal143
{
    opacity:1;
    position: fixed;
    height:40%;
}
.item3
{
    text-align:center;
    list-style:none;  
    height:140px;
    font-weight: bold;
}
.item343
{
    text-align:center;
    list-style:none;  
    
    font-weight: bold;
}
.item2
{
 
  text-align:center;
  list-style:none;  
  height:60px;
  font-weight: bold;
}

.Itemsitem2
{
 
  list-style:none;  
  height:40px;
  font-weight: bold; 
}

.Itemsitem3
{
    border:1px #ccc solid;
   
    
    list-style:none;  
    height:350px;
    font-weight: bold;
}
.modal-dialog {
    transform: translate(0,-18%);
   }
  
   .modal-content {
    position: fixed;
    width: 100%;
    height: 470px;
   }
